// Header :: Start
header.header.header--profile
	.container.header__main
		.logo
			img(src="img/logo.svg", alt="SBOX")
			.logo__title Powered by SAFEDATA.dev
		.account-bar
			.notifications
				a(href="#").btn.notifications__btn
					+sprite("icon-bell")
					span.notifications__btn-indicator
			.user-nav
				a(href="#").user-nav__ava
					img(src="img/user.jpg", alt="")
		
// Header :: End