// Header :: Start
header.header
	.container.header__main
		.logo
			img(src="img/logo.svg", width="111" height="24" alt="SBOX").logo__img
			.logo__title Powered by SAFEDATA.dev
		.header__auth-btns
			a(href="#").btn.btn-base.btn-base--theme-light-gray.btn-base--size-normal Sign In
			a(href="#").btn.btn-base.btn-base--theme-red.btn-base--size-normal Sign Up
		
// Header :: End