.icon-check {
	width: 14px;
	height: 10px;
}

.icon-bell {
	width: 20px;
	height: 20px;
}

.icon-calendar {
	width: 20px;
	height: 20px;
}

.icon-settings {
	width: 20px;
	height: 20px;
}

.icon-logout {
	width: 20px;
	height: 20px;
}

.icon-user {
	width: 24px;
	height: 24px;
}

.icon-close {
	width: 20px;
	height: 209px;
}

.icon-check-circle {
	width: 36px;
	height: 36px;
}

.icon-cross-circle {
	width: 36px;
	height: 36px;
}