doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title gtlk
		style.
			.page-list {
				display: flex;
				flex-wrap: wrap;
				gap: 30px;
			}
			.page-list__section {
				padding: 25px 20px 20px;
				background: rgba(0,0,0,.03);
				border: 1px solid #ccc;
				position: relative;
				width: 100%;
			}
	body(style="font-family: arial; margin: 0; padding: 30px;")


		h1(style="margin: 0 0 40px; padding: 0;") Page list:
		.page-list
			.page-list__section
				ul.page-list(style="list-style: numeric; display: inline-block; list-style-position: inside; margin: 0; padding: 0;")
					li(style="margin-bottom: 20px;")
						a(href="reg.html" style="color: black; text-decoration: none;") reg.html
					li(style="margin-bottom: 20px;")
						a(href="reg_sms.html" style="color: black; text-decoration: none;") reg_sms.html
					li(style="margin-bottom: 20px;")
						a(href="reg_success.html" style="color: black; text-decoration: none;") reg_success.html
					li(style="margin-bottom: 20px;")
						a(href="reg_complete.html" style="color: black; text-decoration: none;") reg_complete.html
					li(style="margin-bottom: 20px;")
						a(href="profile-details.html" style="color: black; text-decoration: none;") profile-details.html
			.page-list__section
				ul.page-list(style="list-style: numeric; display: inline-block; list-style-position: inside; margin: 0; padding: 0;")
					li(style="margin-bottom: 20px;")
						a(href="ui.html" style="color: black; text-decoration: none;") ui.html

