include html/mixins

doctype html
block head
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&display=swap" rel="stylesheet")

		link(rel="stylesheet", href="css/style.min.css")

		title Title

	body
		.wrapper

			include html/header
		
			main.main

				.container.reg-complete

					.reg-complete__col
						.heading.heading--size-medium.heading--complete-reg Complete registration
						.box-note.box-note--base
							| All the following fields are necessary for registration.
							br
							| Fill them in and press “Done” button.

					.reg-complete__main
						form.form-auth
							.form-fields-wrapper
								.field-item
									.input-heading Your Email
									.input-wrapper
										input(type="email").input-base
								.field-item
									.input-heading Your mobile phone
									.input-wrapper
										input(type="tel").input-base#input-phone
								.field-item
									.input-heading Father`s name
									.input-wrapper
										input(type="text").input-base
								.field-item
									.input-heading Occupation
									.input-wrapper
										select.custom-select
											option(value="Student") Student
											option(value="Student 2") Student 2
											option(value="Student 3") Student 3
											option(value="Student") Student
											option(value="Student 2") Student 2
											option(value="Student 3") Student 3
											option(value="Student") Student
											option(value="Student 2") Student 2
											option(value="Student 3") Student 3
											option(value="Student") Student
											option(value="Student 2") Student 2
											option(value="Student 3") Student 3
											option(value="Student") Student
											option(value="Student 2") Student 2
											option(value="Student 3") Student 3
								.field-item
									.input-heading Nationality
									.input-wrapper
										select.custom-select
											option(value="Student") Greece
											option(value="Student 2") Greece 2
											option(value="Student 3") Greece 3
							.form-auth__submit.form-auth__submit--complete-reg
								button(type="submit").btn.btn-base.btn-base--theme-red.btn-base--size-normal.btn-base--auth
									+sprite("icon-arrow-right")
									| Done
						
						


		script(src="js/app.min.js")